
src/.vs/BugTracker_TPI/v16/.suo
src/BugTracker_TPI/obj/Debug/netcoreapp3.1/BugTracker_TPI.csproj.AssemblyReference.cache
*.cache
src/BugTracker_TPI/obj/Debug/netcoreapp3.1/BugTracker_TPI.csproj.GenerateResource.cache
*.cache
*.cache
*.cache
src/BugTracker_TPI/obj/Debug/netcoreapp3.1/BugTracker_TPI.csproj.GenerateResource.cache
src/BugTracker_TPI/obj/Debug/netcoreapp3.1/BugTracker_TPI.csproj.AssemblyReference.cache
src/.vs/BugTracker_TPI/v16/.suo
